@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kitchen Helper System</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="wrapper">
        <header>
        </header>
        <div class="topnav">
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a asp-controller="Home" asp-action="Index">HomePage</a>
            <a asp-controller="Reception" asp-action="Index">Reception</a>
            <a asp-controller="Restaurant" asp-action="Index">Restaurant</a>
            <a asp-controller="Kitchen" asp-action="Index">Kitchen</a>

        </div>

        <div id="content">

            <main>
                @RenderBody()
            </main>

        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                Copyright &copy; 2020 - KitchenHelperSystem
                <a href="mailto:KitchenHelperSystem@suppport.com">KitchenHelperSystem@support.com</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

    </div>
</body>
</html>
