@model GUIEX2PROJECT.Models.BreakfastReservation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>BreakfastReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildReservations" class="control-label"></label>
                <input asp-for="NumberOfChildReservations" class="form-control" />
                <span asp-validation-for="NumberOfChildReservations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdultReservations" class="control-label"></label>
                <input asp-for="NumberOfAdultReservations" class="form-control" />
                <span asp-validation-for="NumberOfAdultReservations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildrenCheckedIn" class="control-label"></label>
                <input asp-for="NumberOfChildrenCheckedIn" class="form-control" />
                <span asp-validation-for="NumberOfChildrenCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdultsCheckedIn" class="control-label"></label>
                <input asp-for="NumberOfAdultsCheckedIn" class="form-control" />
                <span asp-validation-for="NumberOfAdultsCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomNumber" class="control-label"></label>
                <select asp-for="roomNumber" class="form-control" asp-items="ViewBag.roomNumber"></select>
                <span asp-validation-for="roomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
