@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Kitchen Helper System</h1>
    <img src="~/forkknife.png" class="center" />
    <p align="center">
        Please Register to continue! <br />
        If already registered please login!
    </p>
</div>
